* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --cl-primary: hsl(170, 100%, 26%);
  --cl-secondary: hsl(210, 9%, 31%);
  --headline: hsl(210, 11%, 15%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsla(148, 25%, 89%, 1);
  --cl-services: hsla(180, 14%, 97%, 1);
  --cl-about: hsla(39, 100%, 97%, 1);
  --cl-contact: #ffffff;
  --card: hsla(148, 23%, 89%, 1);
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: auto 0;
  text-align: center;
  background: var(--cl-services);
  overflow: overlay;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--cl-primary);
}

nav.scroll .logo svg path {
  fill: #ffffff;
}

nav.scroll button svg path {
  stroke: #ffffff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

#home h4 {
  color: var(--cl-primary);
  font-size: 1.4rem;
  letter-spacing: 0.08em;
}

#home h1 {
  margin-top: 1.6rem;
  font-size: 3.4rem;
  color: hsl(210, 11%, 15%);
}

#home p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--cl-secondary);
  margin: 3.2rem auto 2.4rem;
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home button,
main button {
  margin: 0 auto 6rem;
  background: var(--cl-primary);
  color: hsl(148, 23%, 89%);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 40px;
  border: none;
}

button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

button:active {
  opacity: 0.8;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  position: absolute;
  background: var(--brand-light);
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#numbers {
  width: 32.7rem;
  margin-inline: auto;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  background: var(--brand-beige);
  border-radius: 6px;
  border: 1px solid var(--brand-light);
}

#numbers h3 {
  font-size: 4.8rem;
}

#numbers p {
  color: var(--cl-primary);
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

#about {
  text-align: justify;
  background: var(--cl-about);
}

#about h4 {
  margin-bottom: 1.6rem;
  color: var(--cl-primary);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height: 2.1rem;
}

#about h2 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

#about p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 6rem;
}

#contacts {
  text-align: justify;
}

#contacts h2 {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.contact {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
  color: var(--cl-secondary);
}

.contact:nth-of-type(1) {
  margin-bottom: 1.6rem;
}

#contacts button {
  margin-top: 3.2rem;
}

#contacts img {
  margin: 0 0 10rem;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  margin: 0 auto;
  background: var(--cl-primary);
  color: hsl(148, 23%, 89%);
  text-align: justify;
  padding: 6rem 0 6rem 3.2rem;
}

footer p {
  font-size: 1.6rem;
}

footer p:nth-of-type(1) {
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
}

footer .icons {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding-top: 3.2rem;
}

body.menu-expanded {
  overflow: hidden;
  /* O overflow hidden retira o scroll da aplicação */
}

body.menu-expanded > :not(nav) {
  /* todos elementos de primeiro nível (>) exceto (:not) */
  visibility: hidden;
}

.menu,
#close-menu,
body.menu-expanded #open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded #close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--cl-primary);
  height: 100vh;
  width: 100vw;
  padding-top: 7.2rem;
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul {
  margin-bottom: 4.8rem;
}

.menu ul {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.menu ul a {
  color: var(--brand-beige);
  text-decoration: none;
}

.menu .button {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--cl-primary);
  background: #ffffff;
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
  display: inline-block;
  /* o inline é padrão do elemento a */
  border-radius: 4rem;
}

.menu .icons {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded nav .logo path {
  fill: #ffffff;
}

body.menu-expanded button path {
  stroke: #ffffff;
}

#services header h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
  color: var(--cl-primary);
}

#services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 6rem;
}

#services #cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  background: #ffffff;
  border: 1px solid var(--brand-light);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: left;
  border-radius: 0.6rem;
}

.card h3 {
  font-size: 2.4rem;
  color: var(--headline);
}

.card p {
  font-size: 1.6rem;
  color: var(--headline);
  line-height: 150%;
}
